{
  "env": {
    "browser": true,
		"es6": true,
    "node": true
  },
  "extends": "airbnb",
  "globals": {
    "angular": true,
    "moment": true,
    "_": true,
    "serverContext": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "import/no-dynamic-require": "off",
    "class-methods-use-this": "off",
    "eqeqeq": ["error", "allow-null"]
  }
}
